/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 8:20:19 AM
    Author     : BooKER
*/
body {background-color: gray;}

.toolbar-warper{
        background-color: white;
        width: auto;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        z-index: 20;
}
    
.toolbar-containner{
        background: white;
        width: 1289px;
        height: 34px;
        position: fixed;
        top : 7px;
        left: 25px;
}
.sitebar{
        background-color: white;
        width: 416px;
        height: 0px;
        position: absolute;
        top: 50px;
        right: 141px;
        margin-top: 10px;
    }
.clear{
        clear: both;
}

.containner{
        background-color: white;
        top: 50px;
        width: 640px;
        position: absolute;
        height: 1900px;
        margin-top: 10px;
        left: 10%;
        position: relative;
}
#logo{
        position: fixed;
        top: 7px;
        left: 25px;
        width: 80px;
        height: 35px;
}
#input{
        width:583px;
        height:24px;
        position: fixed;
        left: 230px;
        top: 9px;
}
#imgsearch{
        width: 65px;
        height: 33px;
        position: fixed;
        left: 819px;
        top: 8px;
}
#btnupload{
        width: 70px;
        height: 25px;
        position: fixed;
        left: 1150px;
        top: 11px;
}
#imgprofile{
        width: 30px;
        height: 30px;
        position: fixed;
        left: 1290px;
        top: 9px;
}
#imgbell{
        width: 30px;
        height: 30px;
        position: fixed;
        left: 1240px;
        top: 9px;  
}
#video1{
        top: 50px;
        width: 640px;
        position: absolute;
        height: 358px;
        margin-top: 10px;
        right: 569px;
}
#play{
        background-color: black;
        top: 415px;
        width: 640px;
        position: absolute;
        height: 27px;
        right: 568px;
}
#comment1{
        background-color: white;
        width: 640px;
        height: 152px;
        position: absolute;
        right: 558px;
        top: 437px;
        border: solid 10px;
        border-color: #e8e8e8;
}
#comment2{
        background-color: white;
        width: 640px;
        height: 300px;
        position: absolute;
        right: 558px;
        top: 589px;
        border: solid 10px;
        border-color: #e8e8e8;
}
#comment3{
        background-color: white;
        width: 640px;
        height: 250px;
        position: absolute;
        right: 558px;
        top: 889px;
        border: solid 10px;
        border-color: #e8e8e8;
    }
    #comment4{
        background-color: white;
        width: 640px;
        height: 300px;
        position: absolute;
        right: 558px;
        top: 1139px;
        border: solid 10px;
        border-color: #e8e8e8;
    }
    #comment5{
        background-color: white;
        width: 640px;
        height: 250px;
        position: absolute;
        right: 558px;
        top: 1439px;
        border: solid 10px;
        border-color: #e8e8e8;
    }
    #comment6{
        background-color: white;
        width: 640px;
        height: 300px;
        position: absolute;
        right: 558px;
        top: 1689px;
        border: solid 10px;
        border-color: #e8e8e8;
    }
    #list1{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 50px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #img1{
        background-color: #e8e8e8;
        width: 120px;
        height: 90px;
        position: absolute;
        left: 10px;
        top: 5px;
    }
    #list2{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 150px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list3{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 250px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list4{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 350px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list5{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 450px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list6{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 550px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list7{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 650px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list8{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 750px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list9{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 850px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list10{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 950px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list11{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 1050px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list12{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 1150px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list13{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 1250px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list14{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 1350px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #list15{
        background-color: white;
        width: 417px;
        height: 100px;
        position: absolute;
        top: 1450px;
        right: 140px;
        margin-top: 10px;
        border: solid 1px;
        border-color: #e8e8e8;
    }
    #show{
        width: 642px;
        height: 358px;
    }
    #imgplay{
        width: 640px;
        height: 23px;
    }
    #vdo{
        position: absolute;
        left:140px;
        top: -2px;
    }
    #detail{
        position: absolute;
        left:140px;
        top: 15px; 
    }
    .footer{
        background-color: white;
        width: 1349px;
        height: 141px;
        position: absolute;
        left: 0px;
        top: 2150px;
    }
    .footer-containner{
        background-color: white;
        width: 1244px;
        height: 46px;
        position: absolute;
        left: 53px;
        top: 2160px;
        border-bottom-style: solid;
        border-color: #e8e8e8;
    }
    #imgyoutube{
        position: absolute;
        top: -17px;
        width: 95px;
        height: 75px;  
    }
    #btnthailand{
        position: absolute;
        width: 125px;
        height: 25px;
        top: 2170px;
        left: 150px;
    }
    #btnthai{
        position: absolute;
        width: 125px;
        height: 25px;
        top: 2170px;
        left: 305px;
    }
    #btnsecurity{
        position: absolute;
        width: 125px;
        height: 25px;
        top: 2170px;
        left: 455px;  
    }
    #btnhistory{
        position: absolute;
        width: 125px;
        height: 25px;
        top: 2170px;
        left: 605px;
    }
    #btnhelp{
        position: absolute;
        width: 125px;
        height: 25px;
        top: 2170px;
        left: 755px;
    }
    #btnlist{
        width: 46px;
        height: 28px;
        position: fixed;
        left: 120px;
        top: 10px;
     }
     #imgmenu{
       width: 46px;
       height: 28px;
       position: absolute;
       left: 10px;
       top: 0px;
     }
