/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2015, 8:20:19 AM
    Author     : BooKER
*/
body {background-color: gainsboro;}

/*--Top Toolbar--*/
.toolbar-warper{
    background-color: white;
    width: auto;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.toolbar-containner{
    background: white;
    width: 1430px;
    height: 34px;
    position: fixed;
    top : 7px;
    left: 20px;
}
#logo{
    width: 80px;
    height: 35px;
    position: fixed;
    top: 7px;
    left: 25px;
}     
#input{
    width:583px;
    height:24px;
    position: fixed;
    top: 9px;
    left: 230px;    
}
#btmenu{
    width: 46px;
    height: 28px;
    position: fixed;
    left: 120px;
    top: 10px;
}
#imgmenu{
    width: 35px;
    height: 15px;
    position: absolute;
    left: 5px;
    top: 5px;
}
#btsearch{
    width: 65px;
    height: 33px;
    position: fixed;
    top: 8px;
    left: 819px;
}
#imgsearch{
    width: 40px;
    height: 30px;
    position: fixed;
    top: 10px;
    left: 830px;   
}
#btupload{
    width: 70px;
    height: 25px;
    position: fixed;
    top: 11px;
    left: 1260px;
}
#imgbell{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 9px;
    left: 1350px;
}
#imgprofile{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 9px;
    left: 1400px;
}

/*--Footer--*/
.footer{
    background-color: white;
    width: auto;
    height: 130px;
    position: absolute;
    top: 1550px;
    left: 0px;
    right: 0;
    z-index: 20;
}
.footer-containner{
    background-color: white;
    width: 1430px;
    height: 60px;
    position: absolute;
    top: 7px;
    left: 20px;
    border-color: red;
}
#imgfooter{
    width: 80px;
    height: 35px;
    position: absolute;
    top: 11px;
    left: 10px;
}
#btthai{
    width: 160px;
    height: 35px;
    position: absolute;
    top: 11px;
    left: 105px;
    font-size: 16px;
}
#btcity{
    width: 160px;
    height: 35px;
    position: absolute;
    top: 11px;
    left: 290px;
    font-size: 16px;
}
#btsecurity{
    width: 160px;
    height: 35px;
    position: absolute;
    top: 11px;
    left: 480px;
    font-size: 16px;
}
#bthistory{
    width: 160px;
    height: 35px;
    position: absolute;
    top: 11px;
    left: 670px;
    font-size: 16px;
}
#bthelp{
    width: 160px;
    height: 35px;
    position: absolute;
    top: 11px;
    left: 860px;
    font-size: 16px; 
}

/*----------------------*/
#imgplayvideo{
    width: 850px;
    height: 500px;
    position: absolute;
    top: 60px;
    left: 70px;
}
.detailMusic{
    background-color: white;
    width: 850px;
    height: 200px;
    position: absolute;
    top: 570px;
    left: 70px;
}
#namemusic{
    margin: 15px;
    font-size: 30px;
    font-weight: bold;
}
#imgprofilemusic{
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 15px;
}
#nameprofile{
    position: absolute;
    margin-top: -5px;
    margin-left: 10px;
    font-size: 22px;
}

.upload{
    background-color: white;
    width: 850px;
    height: 100px;
    position: absolute;
    top: 780px;
    left: 70px;
}
#detailupload{
    margin: 15px;
    font-size: 16px;
}

.comment{
    background-color: white;
    width: 850px;
    height: 600px;
    position: absolute;
    top: 890px;
    left: 70px;
}
#namecomment{
    margin: 15px;
    font-size: 16px;
}

/*Right Toolbar*/
.toolbar-right{
    background-color: white;
    width: 480px;
    height: 1000px;
    position: absolute;
    top: 60px;
    left: 940px;
}
.videolist{
    background: black;
    width: 160px;
    height: 100px;
    margin: 20px;
}
#textlist{
    position: relative;
    top: 5px;
    left: 170px;
}
#subtextlist{
    position: relative;
    top: -10px;
    left: 170px;
}



